/* Animasi Fade In */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Hover Animation for buttons */
/* .btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
} */

/* Card Hover Animation */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Slide In Animation for features section */
.slide-in {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Add animation to images */
.img-animate {
    opacity: 0;
    animation: fadeInImage 1.5s forwards;
}

@keyframes fadeInImage {
    to {
        opacity: 1;
    }
}
